<!DOCTYPE html>
<html lang="en">
<head>

  <%- include("partials/_header", {username:username}) %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
  <!-- Add your EJS code here -->
  <ul>
    <% for(var i in urls) { %>
      <li>
        <form method="POST" action="/urls/<%= i %>/delete">
          <%= i %> : <%= urls[i] %>
          <a href="/urls/<%= i %>">Edit</a>
          <button type='submit'>Delete <i class="far fa-trash-alt"></i></button>
        </form>
      </li>

    <% } %>
  </ul>
</body>
</html>

